body {
  color: #111;
  background-color: #fafafa;
  max-width: 50em;
  margin: 0 auto;
  font-size: 1.1em;
  padding: 0 1rem;
  font-family: 'Noticia Text', sans-serif;
}

header {
  position: relative;
  padding: 1em 0;
}

header h1 {
  font-size: 1.5em;
  margin-bottom: 0;
  font-weight: normal;
}

#links {
  margin: 0;
  padding: 0;
}

#links li {
  display: inline;
}

#links li::after {
  content: ' •';
}

#links li:last-child::after {
  content: none;
}

p {
  line-height: 1.4em;
}

blockquote {
  margin-left: .3em;
  padding-left: .5em;
  border-left: .3em solid #ccc;
}

hr {
  border: none;
}

hr::after {
  content: '•';
  font-size: .7em;
  display: block;
  text-align: center;
}

article {
  padding-bottom: 2rem;
}

article h1:first-child {
  font-size: 1.8em;
  margin-bottom: 0;
}

article h2 {
  font-size: 1.3em;
  margin-bottom: 0;
}

article .subhead {
  margin-top: 0;
  font-size: 0.9em;
}

article .subhead > *::after {
  content: ' •';
}

article .subhead > *:last-child::after {
  content: none;
}

.article-list article::after {
  content: '•';
  font-size: 1.5em;
  display: block;
  margin: 4rem 0 2rem;
  text-align: center;
}

.article-list article:last-child::after {
  content: none;
}

a {
  color: #c52;
  text-decoration: none;
}

a:hover {
  color: #111;
}

img {
  max-width: 100%;
}

footer {
  text-align: center;
  margin: 0 auto 3em;
}

footer a.logo:hover {
  border: none;
}

footer img {
  width: 6em;
  height: 6em;
}

@media (max-width: 30em) {
  p.figure {
    margin-left: -1rem;
    margin-right: -1rem;
    text-align: center;
  }
}

@media (max-width: 25em) {
  article h1:first-child {
    font-size: 1.5em;
  }
}
