body {
  color: #111;
  background-color: #fafafa;
  max-width: 50em;
  margin: 0 auto;
  font-size: 1.1em;
  padding: 0 1rem;
  font-family: 'Noticia Text', sans-serif;

  a {
    color: #c52;
    text-decoration: none;

    &:hover {
      color: #111;
    }
  }

  header {
    position: relative;
    padding: 1em 0;

    h1 {
      font-size: 1.5em;
      margin-bottom: 0;
      font-weight: normal;
    }
    #links {
      margin: 0;
      padding: 0;

      li {
        display: inline;

        &::after {
          content: ' •';
        }

        &:last-child::after {
          content: none;
        }
      }
    }
  }

  article {
    padding-bottom: 2rem;

    p {
      line-height: 1.4em;
    }

    blockquote {
      margin-left: .3em;
      padding-left: .5em;
      border-left: .3em solid #ccc;
    }

    hr {
      border: none;
    }

    hr::after {
      content: '•';
      font-size: .7em;
      display: block;
      text-align: center;
    }

    h1:first-child {
      font-size: 1.8em;
      margin-bottom: 0;

      @media (max-width: 25em) {
        font-size: 1.5em;
      }
    }

    .subhead {
      margin-top: 0;
      font-size: 0.9em;

      > *::after {
        content: ' •';
      }

      > *:last-child::after {
        content: none;
      }
    }

    h2 {
      font-size: 1.3em;
      margin-bottom: 0;
    }

    img {
      max-width: 100%;
    }

    @media (max-width: 30em) {
      p.figure {
        margin-left: -1rem;
        margin-right: -1rem;
        text-align: center;
      }
    }
  }

  .article-list article {
    &::after {
      content: '•';
      font-size: 1.5em;
      display: block;
      margin: 4rem 0 2rem;
      text-align: center;
    }
    &:last-child::after {
      content: none;
    }
  }

  footer {
    text-align: center;
    margin: 0 auto 3em;

    a.logo:hover {
      border: none;
    }

    img {
      width: 6em;
      height: 6em;
    }
  }
}
