{% extends "base.html" %}

{% block title %}{{ article.title }}{% endblock %}

{% block twitter_card %}
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@{{ globals.TWITTER_SCREEN_NAME }}" />
  <meta name="twitter:title" content="{{ article.title }}" />
  <meta name="twitter:description" content="{{ article.get_summary }}" />
  <meta name="twitter:url" content="{{ article.get_absolute_url }}" />
{% endblock %}

{% block content %}
  <article>
    <h1>{{ article.title }}</h1>
    <p class="subhead"><span class="date">{{ article.meta.date|date }}</span> <a href="{{ article.history_url }}">history</a></p>
    {{ article.html|safe }}
  </article>
{% endblock %}
